@media screen and (min-width: 600px) {
    img {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 600px) {
    img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 600px) {
    #first {
        background-color: blue;
        width: 300px;
        height: 100px;
    }

}

@media screen and (max-width: 600px) {
    #first {
        background-color: red;
        width: 300px;
        height: 100px;
    }
}

@media screen and (min-width: 600px) {

    #secund {
        background-color: green;
        width: 200px;
        color: white;
    }
}

@media screen and (max-width: 600px) {
    #secund {
        color: yellow;
        background-color: green;
    }
}

@media screen and (min-width: 600px) {
    #photo {

        width: 100px;
        height: 100px;
        background-image: url(download.jfif);
    }
}

@media screen and (max-width: 600px) {
    #photo {
        background-image: url(download\ \(1\).jfif);
        width: 100px;
        height: 100px;

    }
}

/* צרו דיב עם רקע כחול, במצב מסך גדול הוא עגול ובמצב מסך קטן הוא מרובע	 */
@media screen and (min-width: 600px) {
    #eliipse {
        background-color: blue;
        border-radius: 100px;
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 600px) {
    #eliipse {
        width: 100px;
        height: 100px;
        background-color: blue;
    }
}

/* צרו תמונה במצב מסך גדול עם פילטר blur ובמצב מסך קטן עם פילטר של gray	 */
@media screen and (min-width: 600px) {
    #naruto {
        filter: blur(6px);
        width: 100px;
        height: 100px;


    }
}
@media screen and (max-width: 600px) {
    #naruto {
        filter: grayscale(100%);
        width: 100px;
        height: 100px;

    }
}